{% extends 'page.html' %}
{% load static pipeline %}
{% block bodyclass %}w100h40{% endblock %}
{% block h1 %}hello, TKTK{% endblock %}
{% block page_title %}hello! {{ block.super }}{% endblock %}

{% block head_styles %}{% stylesheet 'index' %}{% endblock %}
{% block more_scripts %}{% javascript 'vuebase' %}{% javascript 'index' %}{% endblock %}

{% block content %}

<header id="topline">
    <a href="/"><img src="{% static 'i/tktk-index.svg' %}" id="logo" alt="" title="TKTK"></a>
    <h1>TKTK</h1>
</header>

<div id='aloha'>

    {% if user %}
    <div class='social_buts'>
        <h2 class='striped8'>
            <i class="btn tktk"></i>{{user.name}}
        </h2>
        <p class='etc'>
            [{{ user.created_at|date:'d-M-Y' }}]
            {% if user.email %}<br>{{ user.email }}
            {% elif user.username %}<br>{{ user.username }}
            {% endif %}
        </p>
    </div>
    {% endif %}

    <p>
        <a href='/' class='btn primary striped8'>продолжить</a>
        <br><span class='etc'>(как {{ user.name|default:'гость' }})</span>
    </p>

    {% if boards %}
    <h3 class='striped8'>персональные рекорды</h3>
    <table class='hero'>
        {% for b in boards %}
        <tr>
            <td>{{ b.game.name }}:</td>
            <td>{{ b.score }} <span>({{ b.ended_at|date:'d.m.y H:i'}})</span></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
{% endblock %}
